$severities: info, success, warning, error, secondary, contrast;

.aura-message {
  &.v-alert {
    border: 1px solid transparent;

    .v-alert__content {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1;
    }

    .v-alert__prepend {
      align-self: center;
    }

    .v-alert__close > .v-btn {
      width: 1.75rem;
      height: 1.75rem;
      margin-block: 0;
      border-radius: 50%;
    }
  }

  @each $severity in $severities {
    &.bg-severity-#{$severity} {
      border-color: rgb(var(--v-theme-severity-#{$severity}-border));

      .v-alert__close > .v-btn:hover {
        background: rgb(var(--v-theme-severity-#{$severity}-hover));
      }
    }
  }
}
