.aura-spinner.v-progress-circular--indeterminate {
  --aura-spinner-color-1: #ef4444;
  --aura-spinner-color-2: #3b82f6;
  --aura-spinner-color-3: #22c55e;
  --aura-spinner-color-4: #eab308;

  .v-progress-circular__underlay {
    stroke: transparent;
  }

  .v-progress-circular__overlay {
    animation:
      progress-circular-dash 1.5s ease-in-out infinite,
      progress-circular-rotate 2s linear infinite,
      aura-spinner-color 6s ease-in-out infinite;
  }
}

.v-theme--dark .aura-spinner.v-progress-circular--indeterminate {
  --aura-spinner-color-1: #f87171;
  --aura-spinner-color-2: #60a5fa;
  --aura-spinner-color-3: #4ade80;
  --aura-spinner-color-4: #facc15;
}

@keyframes aura-spinner-color {
  0%,
  100% {
    stroke: var(--aura-spinner-color-1);
  }

  40% {
    stroke: var(--aura-spinner-color-2);
  }

  66% {
    stroke: var(--aura-spinner-color-3);
  }

  80%,
  90% {
    stroke: var(--aura-spinner-color-4);
  }
}
